.containerSocialCard {
  width: 105%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: -100px;

}

.containerSocialCard .SocialCard .iconSocialCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 120px;
  transition: 0.3s;
  z-index: 1;
  background: red;

}

.containerSocialCard .SocialCard:nth-child(1) .iconSocialCard {
  background: #0A66C2;

}

.containerSocialCard .SocialCard:nth-child(2) .iconSocialCard {
  background: #1DA1F2;
}

.containerSocialCard .SocialCard:nth-child(3) .iconSocialCard {
  background: #333;
}


.containerSocialCard .SocialCard .iconSocialCard .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  transition: 0.7s;
  color: #fff;
}


.containerSocialCard .SocialCard .face {
  width: 200px;
  height: 120px;
  transition: 0.5s;
  background-color: transparent;
  margin: 25px 0 0;

}

.containerSocialCard .SocialCard .face.face1 {
  position: relative;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(45px);
  width: 200px;
  height: 120px;
}

.containerSocialCard .SocialCard:hover .face.face1{
  transform: translateY(25px);

}

.containerSocialCard .SocialCard .face.face1 .contentSocial {
  opacity: 1;
  transition: 0.5s;
}

.containerSocialCard .SocialCard:hover .face.face1 .contentSocial {
  opacity: 1;
}

.containerSocialCard .SocialCard .face.face1 .contentSocial i{
  max-width: 100px;
}

.containerSocialCard .SocialCard .face.face2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  //box-shadow: 0 20px 50px rgba(0,2,0,0.3);
  transform: translateY(-100px);
}

.containerSocialCard .SocialCard:hover .face.face2{
  transform: translateY(0);
}

.containerSocialCard .SocialCard .face.face2 .contentSocial p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;

}

.containerSocialCard .SocialCard .face.face2 .contentSocial h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.containerSocialCard a {
  text-decoration: none;
  color: #fff;
}