@import "https://fonts.googleapis.com/css?family=Muli&display=swap";

.information-card-body {

  & .information-card-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 10px;
  }

  & .information-card-icon {
    margin: 10px 10px 0;
  }

  .information-card-course {
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 6px 17px rgba(0, 0, 3, 0.8);
    display: flex;
    margin: 0 0 0;
    width: 350px;

    h2 {
      letter-spacing: 1px;
      margin: 10px 15px 20px;
      color: white;
      font-size: 14px;
    }
  }

  .course-preview-degrees {
    background-color: rgba(54, 162, 235, 1);
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 120px;
  }

  .course-preview-class {
    background-color: rgba(255, 206, 86, 1);
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 120px;
  }

  .course-preview-relationships {
    background-color: rgba(255, 99, 132, 1);
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 120px;
  }

  .course-info {
    padding: 30px;
    position: relative;
    width: 100%;
  }
}