h2,h3,h4,h5,h6 {
  margin: 30px 0;
  color: #413ab9;
}
.page-landing{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(-45deg, #ffffff, #f1f1f1, #d2d2d2, #bdbdbd);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}
@keyframes gradient {
  0% {background-position: 0 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0 50%;}
}
.div {
  justify-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.toolbar {
  background:
  linear-gradient(to bottom right, #3C4BBD 15%, transparent),
  radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 10%, transparent 20%) center center / 15px 15px,
  linear-gradient(to bottom right, #3C4BBD, #57ADD8);
  color: #00FF00;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
 }
.leafIcon{
  font-size: 10px;
  margin-left: 150px;
}
.menuButtonsBox{
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  width: 500px;
  color: transparent;
}
.menuButtons{
  letter-spacing: 1px;
  padding: 10px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.loginContent{
  position: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 45%;
  color: white;
}
.loginBox{
  font-size: 10px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  line-height: 19px;
}
.registerBox{
  font-size: 10px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  line-height: 19px;
}
.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 20%;
  flex-direction: column;
  align-items: center;
}
.tittleCenter {
  color: #000046;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.pallets {
  display: flex;
  justify-content: space-around;
  margin: 50px 25px 50px;
}
.table {
  box-shadow: 0 4px 20px dimgray;
  min-width: 30%;
  line-height: 24px;
  border-radius: 10px;
  margin: 50px 25px 0;
  background: white;
}
.chartDiv {
  box-shadow: 0 4px 50px dimgray;
  min-width: 20%;
  background-color: white;
  border: 1px solid white;
  border-radius: 30px;
}
footer {
  background: linear-gradient(to bottom right, #3C4BBD 15%, transparent),
  radial-gradient(circle at 100% 0%, rgba(255, 255, 255, .2) 10%, transparent 20%) center center / 15px 15px,
  linear-gradient(to bottom right, #3C4BBD, #57ADD8);
  font-family: "Evo-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}